$color: #663399;

.tenses {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.tenses-grid {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.phrase-constructor {

}

.time-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  height: 33.3333%;
}

.tense {
  position: relative;
  width: 25%;
  padding: 1em;
  cursor: pointer;
  font-size: 2.4rem;
  &:hover {
    box-shadow: 0 .3rem .5rem rgba(black, .2);
    z-index: 1;
  }
}
.tense_past {
  background: adjust-hue( $color, 65% );
}
.tense_present {
  background: $color;
}
.tense_future {
  background: adjust-hue( $color, -70% );
}

.tense_perfect {
  text-shadow: .1rem .1rem .1rem blue;
}

.tense_continuous {
  color: pink;
}

.phrase-constructor {
  outline: 1px solid lime;
}
