@import '../../assets/style/utils';

.tenses {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.tenses-grid {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.time-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  height: 33.3333%;
}

.phrase-constructor {
  outline: 1px solid lime;
}

// Delete later
.word {
  color: black;
}
