@import "./reset";

html, body {
  color: white;
  height: 100%;
  font-family: sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Source Serif Pro', serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
