@import '../../assets/style/utils';

$color: #12121c;
$pad: 1em;

.tense {
  position: relative;
  width: 25%;
  cursor: pointer;
  font-size: 2.4rem;
  display: flex;
  overflow: hidden;
  background: $color;

  &:hover {
    z-index: 1;
  }
}
.tense_past {
  //background: adjust-hue( $color, 65% );
}
.tense_present {
  //background: $color;
}
.tense_future {
  //background: adjust-hue( $color, -70% );
}

.tense_perfect {
  text-decoration: underline;
}

.tense_continuous {
  font-style: italic;
}

.front {
  @include stretch;

  background: rgba(black, .2);
  width: 100%;
  padding: $pad;
  transition: .3s ease transform;

  .tense:hover & {
    transform: translateX(-5%);
  }


  .content:hover + & {
    transform: translateX(-100%);
  }
}

.content {
  background: rgba(black, .2);
  width: 100%;
  padding: $pad;
  padding-top: 100px;
}

.icon {
  width: 0;
  height: 0;
}

.icon_future {
  color: rgb(97, 191, 123);
}

.icon_present {
  color: rgb(229, 191, 60);
}


.icon_past {
  color: rgb(252, 91, 87);
}

.icon_simple {
  border: .4rem solid currentColor;
  border-radius: 1rem;
}

.icon_continuous {
  border: .5rem solid transparent;
  border-left-color: currentColor;
  position: relative;
}

.icon_perfect {
  border: .4rem solid currentColor;
  border-left-color: currentColor;
  position: relative;
}

.icon_perfect-continuous {
  border: .5rem solid transparent;
  border-left-color: currentColor;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 1rem;
    width: .2rem;
    background: currentColor;
    top: -.5rem;
  }
}

.word_type_pronoun {
  color: aquamarine;
}

.word_type_auxiliary {
  color: #ac89ff;
}

.word_type_mainVerb {
  color: #ffbd63;
}
